<div class="m-3">
  <label for="promptInputBox" class="form-label">Enter Prompt</label>
  <textarea class="form-control" id="promptInputBox" rows="3" [(ngModel)]="textInput"></textarea>
</div>
<div class="d-flex justify-content-center mt-3">
  <button type="button" class="btn btn-outline-primary btn-lg" (click)="generateFamilyTree()">
    Generate Tree
  </button>
</div>

<div class="row">
  <div class="col">
    <div *ngIf="treeData">
      <family-tree [data]="treeData"></family-tree>
    </div>
  </div>
</div>
